body {
	padding: 0;
	margin: 0;
	background-color: #53B2FF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align:  center;
	h1{
		padding-bottom: 50px;
	}
	.center{
		display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	text-align:  center;
		button{
			background-color: blue;
			border: none;
			width: 200px;
			height: 40px;
			display: block;
			margin: 20px 0;
		}
		.tweet{
			text-decoration: none;
		}
	}

}